<ion-header>
  <ion-navbar  color="light" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">

  <ion-list>
    <ion-list-header>Single</ion-list-header>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-option value="f">Female</ion-option>
        <ion-option value="m">Male</ion-option>
        <ion-option value="nb">Non-Binary</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Position</ion-label>
      <ion-select [(ngModel)]="position" okText="Okay" cancelText="Dismiss">
        <ion-option value="bottom">Bottom</ion-option>
        <ion-option value="top">Top</ion-option>
        <ion-option value="verse">Verse</ion-option>
        <ion-option value="versetop">Verse Top</ion-option>
        <ion-option value="versebottom">Verse Bottom</ion-option>
        <ion-option value="none">None</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Birthday</ion-label>
      <ion-select (ionChange)="monthChange($event)">
        <ion-option value="01">January</ion-option>
        <ion-option value="02">February</ion-option>
        <ion-option value="03" selected="true">March</ion-option>
        <ion-option value="04">April</ion-option>
        <ion-option value="05">May</ion-option>
        <ion-option value="06">June</ion-option>
        <ion-option value="07">July</ion-option>
        <ion-option value="08">August</ion-option>
        <ion-option value="09">September</ion-option>
        <ion-option value="10">October</ion-option>
        <ion-option value="11">November</ion-option>
        <ion-option value="12">December</ion-option>
      </ion-select>
      <ion-select (ionChange)="yearChange($event)">
        <ion-option>1989</ion-option>
        <ion-option>1990</ion-option>
        <ion-option>1991</ion-option>
        <ion-option>1992</ion-option>
        <ion-option>1993</ion-option>
        <ion-option selected="true">1994</ion-option>
        <ion-option>1995</ion-option>
        <ion-option>1996</ion-option>
        <ion-option>1997</ion-option>
        <ion-option>1998</ion-option>
        <ion-option>1999</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>Popup</ion-list-header>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender" interface="popover">
        <ion-option value="f">Female</ion-option>
        <ion-option value="m">Male</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Position</ion-label>
      <ion-select [(ngModel)]="positon" okText="Okay" cancelText="Dismiss" interface="popover">
        <ion-option value="bottom">Bottom</ion-option>
        <ion-option value="top">Top</ion-option>
        <ion-option value="verse">Verse</ion-option>
        <ion-option value="versetop">Verse Top</ion-option>
        <ion-option value="versebottom">Verse Bottom</ion-option>
        <ion-option value="none">None</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Birthday</ion-label>
      <ion-select (ionChange)="monthChange($event)" interface="popover">
        <ion-option value="01">January</ion-option>
        <ion-option value="02">February</ion-option>
        <ion-option value="03" selected="true">March</ion-option>
        <ion-option value="04">April</ion-option>
        <ion-option value="05">May</ion-option>
        <ion-option value="06">June</ion-option>
        <ion-option value="07">July</ion-option>
        <ion-option value="08">August</ion-option>
        <ion-option value="09">September</ion-option>
        <ion-option value="10">October</ion-option>
        <ion-option value="11">November</ion-option>
        <ion-option value="12">December</ion-option>
      </ion-select>
      <ion-select (ionChange)="yearChange($event)" interface="popover">
        <ion-option>1989</ion-option>
        <ion-option>1990</ion-option>
        <ion-option>1991</ion-option>
        <ion-option>1992</ion-option>
        <ion-option>1993</ion-option>
        <ion-option selected="true">1994</ion-option>
        <ion-option>1995</ion-option>
        <ion-option>1996</ion-option>
        <ion-option>1997</ion-option>
        <ion-option>1998</ion-option>
        <ion-option>1999</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>Multi</ion-list-header>

    <ion-item>
      <ion-label>Them</ion-label>
      <ion-select [(ngModel)]="them" multiple="true" cancelText="Cancel" okText="Okay!">
        <ion-option value="lesbian">lesbian</ion-option>
        <ion-option value="gay">gay</ion-option>
        <ion-option value="queer">queer</ion-option>
        <ion-option value="butch">butch</ion-option>
        <ion-option value="sapiosexual">sapiosexual</ion-option>
        <ion-option value="pansexual">pansexual</ion-option>
        <ion-option value="curves">curves</ion-option>
        <ion-option value="muscles">muscles</ion-option>
        <ion-option value="tomboy">tomboy</ion-option>
        <ion-option value="androgynous">androgynous</ion-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Pets</ion-label>
      <ion-select [(ngModel)]="pets" multiple="true" [selectOptions]="petAlertOpts">
        <ion-option *ngFor="let o of petData" [value]="o.value">{{o.text}}</ion-option>
      </ion-select>
    </ion-item> -->

    <ion-item>
      <ion-label>Disabled</ion-label>
      <ion-select multiple disabled="true">
        <ion-option checked="true">Selected Text</ion-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>Native</ion-list-header>

    <ion-item>
      <ion-label>Mute Notifications</ion-label>
      <ion-select [(ngModel)]="notifications" interface="action-sheet">
        <ion-option value="mute_15">For 15 Minutes</ion-option>
        <ion-option value="mute_1">For 1 Hour</ion-option>
        <ion-option value="mute_23">For 24 Hours</ion-option>
        <ion-option value="mute_inf">Until I turn it back on</ion-option>
      </ion-select>
    </ion-item>

    <!-- <ion-item>
      <ion-label>Rating</ion-label>
      <ion-select [(ngModel)]="rating" interface="action-sheet">
        <ion-option value="1">1 Star</ion-option>
        <ion-option value="2">2 Stars</ion-option>
        <ion-option value="3">3 Stars</ion-option>
        <ion-option value="4">4 Stars</ion-option>
        <ion-option value="5">5 Stars</ion-option>

      </ion-select>
    </ion-item> -->

  </ion-list>

</ion-content>
